[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-parler = "*"
python-dotenv = "*"
djangorestframework = "*"
pillow = "*"
drf-yasg = "*"
django-parler-rest = "*"
django-filter = "*"
django-extensions = "*"
django-ckeditor = "*"
djangorestframework-simplejwt = "*"
django-ckeditor-5 = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
